*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  background-color:gray;
  margin: 0 auto;
  width: 420px;
}

nav {
  background-color: black;
  margin: 0 auto;
  padding: 20px 0 15px 15px;
  position: fixed;
  width: 420px;
}

.restaurant-list {
  padding-top: 50px;
  width:100%

}
.location h1 {
  font-size:18px;
  padding-left:5%;
}

.location:hover {
  background-color:#A9A9A9;

}

.content {
  float:left;
  width:80%
}

.arrow {
  float:left;
  width:20%;
  margin-top:10%
}


.content h3 {
  font-size:14px;
  font-weight:normal;
  padding-left:5%
}

.fa-chevron-right {
  padding-left:60%;
  display:inline;

}

.location:after {
  content: "";
  display: table;
  clear: both;
}

.location {
  border-bottom:1px solid #000;
}
